@import '@unocss/reset/tailwind.css';
html {
   /* 方便unocss计算：1单位 = 0.25rem = 1px */
  font-size: 14px;
}
.dark {
  --vp-c-bg-alt: rgb(36, 36, 36); 
}

html.dark {
  color-scheme: dark;
}

.vp-doc h2 {
  border-top: 0px;
  margin-top: 10px;
}

.VPMenuLink .link {
  line-height: 28px !important;
}

.VPSidebarGroup .link {
  padding: 3px 0 !important;
}

#app a:focus-visible,
#app button:focus-visible,
#app input[type="checkbox"]:focus-visible {
  @apply outline-1 outline-primary ring-2 ring-primary;
}